//Color

$base-color: #bfbfbf;
$stack-color: #18a3fa;
$green-color: #39c051;
$dark-color: #000;
$light-heading: #84cefc;
$light-color: #c4c4c4;
$head-color: #191919;
$f-link-color: #4c4c4c;
$border-color: #1387cf;
$text-color: #7b7b7b;
$descr-color: #bbb;
$bg-color-title: #efefef;


//Font-size


//Font-Family

$Roboto: 'Roboto', sans-serif;


