<footer>
	<div class="top__footer">
		<div class="container">
			<div class="footer__nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link">ZennoPoster</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">CapMonster</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">ZennoProxyChecker</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">ZennoDroid</a>
					</li>
				</ul>
			</div>
			<div class="footer__links">
				<a href="#" class="support__link"><img class="link-pic" src="../img/icon-support.png" alt="pic"><span>Поддержка</span></a>
				<a href="#" class="ref__link"><img class="link-pic" src="../img/icon-reference.png" alt="pic"><span>Справка</span></a>
				<a href="#" class="forum__link"><img class="link-pic" src="../img/icon-forum.png" alt="pic"><span>Форум</span></a>
				<a href="#" class="personal__link"><img class="link-pic" src="../img/icon-cabinet.png" alt="pic"><span>Личный кабинет</span></a>
			</div>
		</div>
	</div>
	<div class="bottom__footer">
		<div class="container">
			<div class="copyright">
				<img src="../img/icon-footer.png" alt="pic">
				<div class="copy__text">Copyright © 2008 - 2016<br>ZennoLab.com</div>
			</div>
			<div class="social__link">
				<a href="#" class="vk"><img src="../img/icon-vk.png" alt="vk"></a>
				<a href="#" class="fb"><img src="../img/icon-fb.png" alt="fb"></a>
				<a href="#" class="tw"><img src="../img/icon-tw.png" alt="tw"></a>
			</div>
		</div>
	</div>
</footer>