<header>
	<div class="header__lang">
		<a href="#" class="lang"><img class="lang-pic" src="../img/lang__ru.png" alt="pic"><span>Русский</span></a><span class="down"><img
			src="../img/arr__down.png" alt="pic"></span>
	</div>
	<div class="header__logo">
		<img src="../img/logo.png" alt="logo">
	</div>
	<div class="header__nav">
		<ul class="nav__list">
			<li class="nav__item">
				<a href="#block__one" class="nav__link">ZennoPoster</a>
			</li>
			<li class="nav__item">
				<a href="#block__two" class="nav__link">CapMonster</a>
			</li>
			<li class="nav__item">
				<a href="#block__three" class="nav__link">ZennoProxyChecker</a>
			</li>
			<li class="nav__item">
				<a href="#block__four" class="nav__link">ZennoDroid</a>
			</li>
		</ul>
	</div>
	<div class="header__links">
		<a href="#" class="support__link"><img class="link-pic" src="../img/icon-support.png" alt="pic"><span>Поддержка</span></a>
		<a href="#" class="forum__link"><img class="link-pic" src="../img/icon-forum.png" alt="pic"><span>Форум</span></a>
		<a href="#" class="personal__link"><img class="link-pic" src="../img/icon-cabinet.png" alt="pic"><span>Личный кабинет</span></a>
	</div>
</header>